:root {
  --inactive-color: rgb(152, 203, 206);
  --active-color: rgb(124, 168, 170);
  --h-color: rgb(80, 89, 115);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* main logo / nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 50, 60);
}

h1 {
  background-color: var(--inactive-color);
  padding-left: 50px;
  padding-right: 10px;
  margin: 10px 0px;
}

header a {
  color: var(--inactive-color);
  font-size: larger;
  text-decoration: none;
  border-bottom: 3px solid var(--inactive-color);
  padding: 8px 10px;
  margin-right: 5px;
}

header a:hover {
  color: var(--active-color);
  border-color: var(--active-color);
 }

nav {
  margin-right: 50px;
}

/* hero banner */

.hero-banner div {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  width: 100%;
  height: 200px;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-banner h2 {
  position: absolute;
  background-color: var(--inactive-color);
  padding: 0px 10px;
  margin: 10px 50px;
}

main {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#about {
  margin-top: 20px;
}

#about,
#work,
#contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#about h2,
#work h2,
#contact h2 {
  max-width: 100px;
  min-width: 100px;
  text-align: right;
  color: var(--h-color);
  border-right: 3px solid var(--h-color);
  margin-right: 10px;
  padding-right: 10px;
}

#about div {
  text-align: justify;
  padding-bottom: 10px;
}

.link {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link a {
  color: var(--h-color);
  font-size: larger;
  text-decoration: none;
  border-bottom: 3px solid var(--h-color);
  padding: 8px 10px;
  margin-right: 5px;
}
/* portfolio container */



/* contact */