:root {
  --inactive-color:rgb(152, 203, 206);
  --active-color:rgb(124, 168, 170);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 50, 60);
}

h1 {
  background-color: var(--inactive-color);
  padding-left: 50px;
  padding-right: 10px;
  margin: 10px 0px;
}

header a {
  color: var(--inactive-color);
  font-size: larger;
  text-decoration: none;
  border-bottom: 3px solid var(--inactive-color);
  padding: 8px 10px;
  margin-right: 5px;
}

header a:hover {
  color: var(--active-color);
  border-color: var(--active-color);
 }

nav {
  margin-right: 50px;
}

